{% extends "base_admin.html" %}

{% block col2 %}
    <div class="panel panel-default">
      <div class="panel-heading">用户</div>
      <div class="panel-body">xx</div>
      <div class="panel-heading">邮箱</div>
      <div class="panel-body">xx</div>
      <div class="panel-heading">上次登录IP</div>
      <div class="panel-body">xx</div>
      <div class="panel-heading">上次登录时间</div>
      <div class="panel-body">xx</div>
    </div>
{% endblock %}

{% block col10 %}
    <div class="panel panel-default">
      <div class="panel-heading">{% block heading %}欢迎来到khahux的后台。。。{% endblock %}</div>
      <div class="panel-body">{% block body %}balabala...{% endblock %}</div>
    </div>
{% endblock %}